h1 {
  text-align: center;
  color: #2c3e50;
}

p {
  text-align: center;
  font-size: 16px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 6px #aaa;
}
.card:hover {
  box-shadow: 4px 4px 12px #aaa;
}